doctype html
html
  head
    title hello world
    link(rel="stylesheet", href="css/main.css")
  body
    script(src="js/bundle.js")

    h1 Jade template engine
    p it works! woot oooh
    a(href="", target="_blank") link2 !